
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SSS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/jasny-bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/jasny-bootstrap.min.css" type="text/css">
    <!-- Material CSS -->
    <link rel="stylesheet" href="~/Content/material-kit.css" type="text/css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <!-- Line Icons CSS -->
    <link rel="stylesheet" href="~/fonts/line-icons/line-icons.css" type="text/css">
    <!-- Line Icons CSS -->
    <link rel="stylesheet" href="~/fonts/line-icons/line-icons.css" type="text/css">
    <!-- Main Styles -->
    <link rel="stylesheet" href="~/Content/main.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/extras/animate.css" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/extras/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/extras/owl.theme.css" type="text/css">
    <!-- Responsive CSS Styles -->
    <link rel="stylesheet" href="~/Content/responsive.css" type="text/css">
    <!-- Slicknav js -->
    <link rel="stylesheet" href="~/Content/slicknav.css" type="text/css">
    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="~/Content/bootstrap-select.min.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default main-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navi</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="~/Home/Index">
                        <img src="~/img/logo.png" alt="" style="width:250px;max-width:none;" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a>
                                    <i class="">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a href="~/Account/Logout">
                                    <i class="lnr lnr-user"></i>
                                    Çıkış
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="~/Account/Login">
                                    <i class="lnr lnr-enter">
                                    </i>
                                    Giriş
                                </a>
                            </li>
                            <li>
                                <a href="~/Account/Signup">
                                    <i class="lnr lnr-user"></i>
                                    Kayıt
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </div> <!--Header Div End-->
    <div class="page-header" style="background: url(../../img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">Sıkça Sorulan Sorular</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="head-faq text-center">
                        <h2 class="section-title">Sıkça Sorulan Sorular</h2>
                    </div>
                    <!-- accordion start -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                        Öneriler Nasıl Yapılıyor?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p>
                                        Sizden aldığımız hobileriniz ve Foursquare hesap bağlantınızdan elde ettiğimiz check-in geçmişiniz ile sizi tanıyoruz. Neleri sevdiğinizi, nelerden hoşlandığınızı analiz ederek size uygun mekan önerileri yapıyoruz. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                                        Neden Sadece İzmir?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p>
                                        Pilot bölge olarak İzmir seçtiğimiz için. Sistemimiz geliştikçe diğer büyük şehirleri de eklemeyi planlıyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                        Hesabımı Kapatabilir Miyim?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p>
                                        İstediğiniz zaman hesabınızı kapatabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">
                                        Swarm Hesabım ile Neden Bağlantı Kuruluyor?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                                <div class="panel-body">
                                    <p>
                                        Swarm hesabınızla tamamen güvenli bir bağlantı kuruyoruz. Bu bağlantı ile size daha iyi öneriler vermek için check-in geçmişinizi alıyoruz ve analiz ediyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- accordion End -->
                </div>
            </div>
        </div>
    </div>






    <footer>
        <!-- Footer Area Start -->
        <section class="footer-Content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn animated" data-wow-delay="0" style="visibility: visible;-webkit-animation-delay: 0; -moz-animation-delay: 0; animation-delay: 0;">
                        <div class="widget">
                            <h3 class="block-title">Bizi Takip Edin</h3>
                            <ul class="menu">
                                <li>
                                    <a title="fa fa-facebook" target="_blank" href="#"><i class="fa fa-facebook">&nbsp;Facebook</i></a>
                                </li>
                                <li>
                                    <a title="fa fa-twitter" target="_blank" href="#"><i class="fa fa-twitter">&nbsp;Twitter</i></a>
                                </li>
                                <li>
                                    <a title="fa fa-linkedin" target="_blank" href="#"><i class="fa fa-linkedin">&nbsp;Linkedin</i></a>
                                </li>
                                <li>
                                    <a title="fa fa-google-plus" target="_blank" href="#"><i class="fa fa-google-plus">&nbsp;Google+</i></a>
                                </li>
                                <li>
                                    <a title="fa fa-instagram" target="_blank" href="#"><i class="fa fa-instagram">&nbsp;Instagram</i></a>
                                </li>
                                <li>
                                    <a title="fa fa-youtube" target="_blank" href="#"><i class="fa fa-youtube">&nbsp;Youtube</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeIn animated" data-wow-delay="0.5" style="visibility: visible;-webkit-animation-delay:0.5; -moz-animation-delay: 0.5; animation-delay: 0.5;">
                        <div class="widget">
                            <h3 class="block-title">Faydalı Bağlantılar</h3>
                            <ul class="menu">
                                <li><a href="~/Home/Index">Anasayfa</a></li>
                                <li><a href="~/Account/Login">Giriş</a></li>
                                <li><a href="~/Home/SSS">SSS</a></li>
                                <li><a href="~/Account/Signup">Kayıt Ol</a></li>
                                <li><a href="~/Home/Iletisim">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer area End -->
        <!-- Copyright Start  -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info pull-left">
                            <p>Aralık,2016</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

    </footer>
    <script type="text/javascript" src="~/Scripts/jquery-min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/material.min.js"></script>
    <script type="text/javascript" src="~/Scripts/material-kit.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/wow.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/form-validator.min.js"></script>
    <script type="text/javascript" src="~/Scripts/contact-form-script.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
</body>
</html>
