<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="consumerKey" value="" />
    <add key="consumerSecret" value="" />
    <add key="accessToken" value="" />
    <add key="accessTokenSecret" value="" />
    <add key="4SquareClientID" value="" />
    <add key="4SquareClientSecret" value="" />
  </appSettings>
  <connectionStrings>
    <add name="CheckinDatasetEntities" connectionString="metadata=res://*/EntityFramework.CheckinEF.csdl|res://*/EntityFramework.CheckinEF.ssdl|res://*/EntityFramework.CheckinEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E814DM0\SQLEXPRESS;initial catalog=CheckinDataset;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CheckinDatasetEntities1" connectionString="metadata=res://*/EntityFramework.CheckinEF.csdl|res://*/EntityFramework.CheckinEF.ssdl|res://*/EntityFramework.CheckinEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ADPA7ET;initial catalog=CheckinDataset;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CheckinDatasetEntities2" connectionString="metadata=res://*/EntityFramework.CheckinEF.csdl|res://*/EntityFramework.CheckinEF.ssdl|res://*/EntityFramework.CheckinEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ADPA7ET;initial catalog=CheckinDataset;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CheckinDatasetEntities4" connectionString="metadata=res://*/EntityFramework.CheckinEF.csdl|res://*/EntityFramework.CheckinEF.ssdl|res://*/EntityFramework.CheckinEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ADPA7ET;initial catalog=CheckinDataset;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CheckinDatasetEntities4" connectionString="metadata=res://*/EntityFramework.CheckinEF.csdl|res://*/EntityFramework.CheckinEF.ssdl|res://*/EntityFramework.CheckinEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ADPA7ET;initial catalog=CheckinDataset;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
